.crypto-site {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 6rem 3rem;
}

.crypto-site::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("1.jpg");
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

.crypto-site table {
  margin: 0 auto;
  font-size: 2.5rem;
  border-spacing: 25px 15px;
}

.crypto-site th,
td {
  border: 1px solid red;
  padding: 2px;
  text-align: center;
}
