#credit {
  min-height: 100vh;
  position: relative;
  padding: 90px 40px;
  text-align: center;
}

#credit::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("happyPerson.jpg");
  background-size: cover;
  background-position: top;
  opacity: 0.4;
  z-index: -1;
}

#credit h2 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 10rem;
}

#credit > p {
  margin-top: 3rem;
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
}

#credit span {
  color: darkgreen;
  font-size: 3.5rem;
}

.input-section {
  margin-top: 9.5rem;
  max-width: 1400px;
  text-align: center;
  font-size: 2.9rem;
  font-weight: bold;
}

.input-section p:last-child {
  margin-top: 3.5rem;
}

#credit input {
  font-size: 2.9rem;
  border: 1px solid black;
  width: 15rem;
  border-radius: 10px;
  padding-left: 1rem;
}

#credit .info {
  font-size: 1.6rem;
  color: black;
  margin-left: 10px;
}

#credit button {
  border: none;
  background-color: rgb(228, 204, 204);
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  margin-top: 5rem;
}

#credit button:hover {
  background-color: rgb(179, 163, 163);
}

#credit svg {
  margin-right: 10px;
  transition: transform 1s;
}

#credit button:hover svg {
  transform: rotate(360deg);
}

.installment-info {
  max-width: 1000px;
  text-align: center;
  font-size: 2.9rem;
  color: rgb(8, 73, 8);
  font-weight: bold;
  margin: 3.5rem auto 0 auto;
}
