.message-modal {
  border: 1px solid red;
  background-color: rgb(247 247 247);
  z-index: 5;
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 850px;
  max-width: 100%;
  text-align: center;
  display: none;
}

.show-modal {
  display: block;
}

.message-modal h2 {
  color: red;
  margin-bottom: 25px;
}

.message-modal p {
  font-size: 23px;
  /*font-weight: bold;*/
  text-align: center;
  margin-bottom: 30px;
}

.message-modal span {
  font-weight: bold;
}

.message-modal .cancel {
  margin-right: 25px;
}
