.top-bar {
  position: relative;
  margin-top: 30px;
}

.top-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 85%;
  left: 50%;
  display: block;
  transform: translateX(-50%);
  height: 1px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.83);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.83);
}

@media (max-width: 400px) {
  .top-bar::after {
    bottom: -87px;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .top-bar::after {
    bottom: -20px;
  }
}

@media (min-width: 601px) and (max-width: 730px) {
  .top-bar::after {
    bottom: -18px;
  }
}

.top-bar p {
  position: absolute;
  top: 15px;
  left: 55px;
  font-size: 2.1rem;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 400px) {
  .top-bar p {
    top: 144px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    text-align: center;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .top-bar p {
    top: 30px;
  }
}

@media (min-width: 601px) and (max-width: 730px) {
  .top-bar p {
    top: 33px;
  }
}

.top-bar svg {
  margin-right: 10px;
  transform: rotate(40deg);
  cursor: pointer;
  transition: transform 1s;
  opacity: 0.6;
}

.top-bar p:hover svg {
  transform: rotate(360deg);
  opacity: 1;
}
