.block {
  width: 55rem;
  max-width: 90%;
  height: 13rem;
  background-color: rgb(249, 247, 245);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.21);
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  position: absolute;
  background: rgb(236, 4, 6);
  background: linear-gradient(
    51deg,
    rgba(236, 4, 6, 1) 0%,
    rgba(249, 247, 245, 1) 0%,
    rgba(243, 239, 230, 1) 81%,
    rgba(221, 212, 179, 1) 100%,
    rgba(223, 214, 181, 1) 100%,
    rgba(210, 201, 168, 1) 100%,
    rgba(164, 155, 124, 1) 100%
  );
}

.block p {
  text-align: center;
  font-weight: bold;
  font-size: 2.6rem;
  flex-grow: 1;
}

.circle {
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.block-one {
  top: 70%;
  opacity: 0;
  animation: fly 10s infinite;
  animation-delay: 2s;
  transform: scale(0.85);
}

.block-two {
  top: 70%;
  opacity: 0;
  animation: fly 10s infinite;
  animation-delay: 5s;
  transform: scale(0.85);
}

.block-two .circle {
  transform: rotate(30deg);
}

.block-three {
  top: 70%;
  opacity: 0;
  animation: fly 10s infinite;
  animation-delay: 8s;
  transform: scale(0.85);
}

@keyframes fly {
  15% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    top: 5%;
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    top: 70%;
    opacity: 0;
  }
}
