.modal-info {
  min-width: 100vw;
  height: 100vh;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 51;
  font-size: 3rem;
  text-align: center;
  padding-top: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
  animation: showModal 1s forwards;
  animation-delay: 2.5s;
}

@keyframes showModal {
  100% {
    opacity: 1;
  }
}

.absolute-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  z-index: 52;
}

.modal-info h1 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.modal-info p,
.modal-info ul {
  width: auto;
  max-width: 900px;
  text-align: center;
  margin: 0 auto 4rem auto;
}

.modal-info ul {
  max-width: 500px;
}

.modal-info li {
  margin-bottom: 2rem;
}

.modal-info button {
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: none;
  opacity: 0.65;
  cursor: pointer;
  transition: all 0.3s;
}

.modal-info button:hover {
  opacity: 1;
}
