.deposit-site {
  width: 100%;
  min-height: 100vh;
  border: 2px solid blue;
  position: relative;
}

.deposit-site::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("2.jpg");
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

.deposit-site h1 {
  margin: 5rem auto 3rem auto;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  width: 80%;
  line-height: 1.6;
}

h1 span {
  color: darkgreen;
}

.deposit {
  width: 90%;
  max-width: 1300px;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  min-height: 30rem;
}

.deposit > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deposit .time-period {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.mini-header {
  margin-bottom: 28px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.time-period .time {
  height: auto;
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
  border: none;
  background: none;
}

.time-period .time:hover {
  cursor: pointer;
  color: darkgreen;
}

.time-period p:last-child {
  margin-bottom: 0;
}

.deposit .money {
  flex: 1;
}

.deposit .deposit-info {
  flex: 2;
}

.deposit .money input {
  max-width: 150px;
  height: 35px;
  border-radius: 7px;
  border: 1px solid black;
  padding-left: 6px;
  background: none;
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.money input:hover {
  border: 1px solid darkgreen;
}

.money input:focus {
  outline: none;
}

.money p:last-child {
  font-size: 12px;
}

.deposit-info {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}
