.slide-two {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  overflow: hidden;
  background-image: url("slidetwo.jpg");
  background-size: cover;
  background-position: center;
  z-index: 5;
  transform: translateX(100%);
  animation: fromRight 2s forwards;
  animation-delay: 7.5s;
}

.perspective {
  font-size: 6.5rem;
  letter-spacing: 12px;
  font-weight: bold;
  padding: 4rem 0 0 2rem;
  flex: 1;
  transform: rotate(-7deg);
}

@media (min-width: 601px) and (max-width: 800px) {
  .perspective {
    font-size: 4.5rem;
  }
}

@media (max-width: 600px) {
  .perspective {
    font-size: 2.5rem;
  }
}

@media (max-width: 200px) {
  .perspective {
    letter-spacing: 3px;
  }
}

.flex-container {
  display: flex;
  width: 100%;
  height: calc(100% - 5rem);
  margin: 2.5rem 0;
  position: relative;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(238, 221, 221);
  opacity: 0.5;
  z-index: -1;
}

.flex-columns {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: green;
}

.flex-columns p {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

@media (max-width: 600px) {
  .flex-columns p {
    font-size: 2.7rem;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .flex-columns p {
    font-size: 2.8rem;
  }
}
