.slide-three {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  overflow: hidden;
  background-image: url("people.jpg");
  background-size: cover;
  background-position: top;
  z-index: 6;
  transform: translateX(100%);
  animation: fromRight 2s forwards;
  animation-delay: 16.5s;
}

@keyframes fromRight {
  100% {
    transform: translateX(0);
  }
}

.slide-three .logo {
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Ephesis", cursive;
  font-weight: 600;
  color: darkgreen;
  font-size: 7rem;
  text-align: center;
}

@media (min-width: 451px) and (max-width: 480px) {
  .slide-three .logo {
    font-size: 6rem;
  }
}

@media (min-width: 301px) and (max-width: 360px) {
  .slide-three .logo {
    font-size: 6.5rem;
    line-height: 20px;
    top: 5.5rem;
  }
}

@media (max-width: 300px) {
  .slide-three .logo {
    font-size: 5rem;
    line-height: 22px;
    top: 5rem;
  }
}

@media (max-width: 200px) {
  .slide-three .logo {
    font-size: 6rem;
    top: 2rem;
  }
}

.slide-three .bar {
  width: 100%;
  min-height: 8rem;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkgreen;
  font-weight: bold;
  padding: 1rem 2rem;
  text-align: center;
}

@media (min-width: 201px) and (max-width: 300px) {
  .slide-three .bar {
    font-size: 2rem;
  }
}
