html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 300px;
}

header h2 {
  font-size: 6rem;
  z-index: 5;
  color: black;
  padding-top: 2rem;
}

.slide-one {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide-one * {
  width: 65%; /*because absolute element has this width n I want center this*/
  text-align: center;
}

.slide-one p {
  font-size: 2.8rem;
  margin-top: 1.8rem;
}

.slide-one p:nth-child(3) {
  color: green;
}

.slide-one p:nth-child(4) {
  padding-top: 2rem;
  font-size: 2.2rem;
}

.slide-one::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 65%;
  background-color: mintcream;
  opacity: 0.55;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  z-index: -1;
}

.slide-one::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("slideone.jpg");
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -2;
}

.LogInBox {
  width: 30rem;
  min-height: 45rem;
  margin: 5rem 0 8rem 5rem;
  padding: 15px;
  text-align: left;
  position: relative;
}

.LogInBox::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(189, 182, 182);
  z-index: -2;
}

.LogInBox::before {
  content: "";
  position: absolute;
  inset: 5px;
  background-color: rgb(245, 255, 250);
  border-radius: 8px;
  z-index: -1;
}

label {
  font-weight: bold;
}

.LogInBox input {
  display: block;
  margin: 20px auto 5px auto;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
  border: 1px solid black;
  outline: none;
}

.LogInBox .error {
  color: red;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
}

.LogInBox button {
  width: 70%;
  height: 40px;
  font-weight: bold;
  color: white;
  border: none;
  display: block;
  margin: 25px auto 0 auto;
  border-radius: 7px;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.LogInBox button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 7px;
  background-color: green;
  z-index: -2;
}

.LogInBox button::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 7px;
  background-color: rgb(18, 197, 18);
  transform: translate(-100%);
  transition: transform 0.3s;
  opacity: 0.5;
  z-index: -1;
}

.LogInBox button:hover::after {
  transform: translate(0);
}

.LogInBox .code {
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 25px;
}

.LogInBox p {
  text-align: center;
}

.wrapper-animations {
  width: 65rem;
  height: 60rem;
  border: 2px solid red;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.flex-wrapper {
  display: flex;
}

.block {
  width: 55rem;
  height: 13rem;
  background-color: red;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  position: absolute;
}

.circle {
  background-color: yellow;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.block-one {
  background-color: blue;
  top: 70%;
  opacity: 0;
  animation: fly 10s infinite;
  animation-delay: 2s;
  transform: scale(0.85);
}

.block-two {
  background-color: blue;
  top: 70%;
  opacity: 0;
  animation: fly 10s infinite;
  animation-delay: 5s;
  transform: scale(0.85);
}

.block-three {
  background-color: blue;
  top: 70%;
  opacity: 0;
  animation: fly 10s infinite;
  animation-delay: 8s;
  transform: scale(0.85);
}

@keyframes fly {
  15% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    top: 5%;
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    top: 70%;
    opacity: 0;
  }
}
