:root {
  --main-color: rgb(245, 255, 250);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

header h2 {
  font-size: 6rem;
  z-index: 5;
  color: black;
  padding-top: 2rem;
  transform: translateX(-100%);
  animation: from-left 1s forwards;
  animation-delay: 1s;
}

@keyframes from-left {
  100% {
    transform: translateX(0);
  }
}

.slide-one {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  animation: slideOne 10s forwards;
  animation-delay: 10s;
}

.slide-one * {
  width: 65%; /*because absolute element has this width n I want center this*/
  text-align: center;
}

.slide-one p {
  font-size: 2.8rem;
  margin-top: 1.8rem;
  transform: translateY(100%);
  opacity: 0;
  animation: from-bottom 1s forwards;
  animation-delay: 2.5s;
}

@keyframes from-bottom {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-one p:nth-child(3) {
  color: green;
  animation-delay: 3.5s;
}

.slide-one p:nth-child(4) {
  padding-top: 2rem;
  font-size: 2.2rem;
  animation-delay: 4.5s;
}

.slide-one::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 65%;
  background-color: mintcream;
  opacity: 0.55;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  z-index: -1;
}

.slide-one::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./components/Header/slideone.jpg");
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -2;
  background-position: 0% 10%;
}

.slide-two {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  overflow: hidden;
  background-image: url("./components/Header/slidetwo.jpg");
  background-size: cover;
  background-position: center;
  z-index: 5;
  transform: translateX(100%);
  animation: fromRight 2s forwards;
  animation-delay: 7.5s;
}

.slide-three {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  overflow: hidden;
  background-image: url("./components/Header/people.jpg");
  background-size: cover;
  background-position: top;
  z-index: 6;
  transform: translateX(100%);
  animation: fromRight 2s forwards;
  animation-delay: 13.5s;
}

@keyframes fromRight {
  100% {
    transform: translateX(0);
  }
}

.LogInBox {
  width: 30rem;
  min-height: 45rem;
  margin: 5rem 0 8rem 5rem;
  padding: 15px;
  text-align: left;
  position: relative;
}

.LogInBox::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(189, 182, 182);
  z-index: -2;
}

.LogInBox::before {
  content: "";
  position: absolute;
  inset: 5px;
  background-color: rgb(245, 255, 250);
  border-radius: 8px;
  z-index: -1;
}

label {
  font-weight: bold;
}

.LogInBox input {
  display: block;
  margin: 20px auto 5px auto;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
  border: 1px solid black;
  outline: none;
}

.LogInBox .error {
  color: red;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
}

.LogInBox button {
  width: 70%;
  height: 40px;
  font-weight: bold;
  color: white;
  border: none;
  display: block;
  margin: 25px auto 0 auto;
  border-radius: 7px;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.LogInBox button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 7px;
  background-color: green;
  z-index: -2;
}

.LogInBox button::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 7px;
  background-color: rgb(18, 197, 18);
  transform: translate(-100%);
  transition: transform 0.3s;
  opacity: 0.5;
  z-index: -1;
}

.LogInBox button:hover::after {
  transform: translate(0);
}

.LogInBox .code {
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 25px;
}

.LogInBox p {
  text-align: center;
}

.wrapper-animations {
  width: 65rem;
  height: 60rem;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrapper-animations::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./components/Index-LogIn Site/trophy.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 1.5s;
}

.wrapper-animations:hover::before {
  opacity: 0.7;
}

.wrapper-animations::after {
  content: "ZŁOTY LAUR KONSUMENTA";
  position: absolute;
  inset: 0;
  font-size: 3rem;
  font-style: italic;
  opacity: 0.2;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1.5s;
}

.block {
  width: 55rem;
  height: 13rem;
  background-color: rgb(249, 247, 245);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.21);
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  position: absolute;
  background: rgb(236, 4, 6);
  background: linear-gradient(
    51deg,
    rgba(236, 4, 6, 1) 0%,
    rgba(249, 247, 245, 1) 0%,
    rgba(243, 239, 230, 1) 81%,
    rgba(221, 212, 179, 1) 100%,
    rgba(223, 214, 181, 1) 100%,
    rgba(210, 201, 168, 1) 100%,
    rgba(164, 155, 124, 1) 100%
  );
}

.block p {
  text-align: center;
  font-weight: bold;
  font-size: 2.6rem;
  flex-grow: 1;
}

.circle {
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.block-one {
  top: 70%;
  opacity: 0;
  animation: fly 10s infinite;
  animation-delay: 2s;
  transform: scale(0.85);
}

.block-two {
  top: 70%;
  opacity: 0;
  animation: fly 10s infinite;
  animation-delay: 5s;
  transform: scale(0.85);
}

.block-two .circle {
  transform: rotate(30deg);
}

.block-three {
  top: 70%;
  opacity: 0;
  animation: fly 10s infinite;
  animation-delay: 8s;
  transform: scale(0.85);
}

@keyframes fly {
  15% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    top: 5%;
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    top: 70%;
    opacity: 0;
  }
}

.top-bar {
  position: relative;
}

.top-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 85%;
  left: 50%;
  display: block;
  transform: translateX(-50%);
  height: 1px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.83);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.83);
}

.top-bar p {
  position: absolute;
  top: 15px;
  left: 55px;
  font-size: 2.1rem;
  font-weight: bold;
}

.top-bar svg {
  margin-right: 10px;
  transform: rotate(40deg);
  cursor: pointer;
  transition: transform 1s;
}

.top-bar svg:hover {
  transform: rotate(360deg);
}

nav {
  width: 100%;
  height: 7rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin-top: 15px;
  padding-right: 9rem;
}

nav ul li {
  font-size: 2.2rem;
  margin: 0 10px;
}
